/* ========================================================================================== */
/* GLOBAL STYLES */
/* ========================================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

body {
  background-color: #131313;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  /* margin: 0;
    padding: 0; */
}

h1:first-child {
  margin-top: 0;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p:not(:last-child) {
  margin-bottom: 15px;
}

/* h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

.container {
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.wide-container {
  position: relative;
  z-index: 1;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0 80px 0;
  background-color: #dbd9e2;
  /* position: absolute;
    left: 0;
    right: 0;
    top: -100px; */
  margin-top: -75px;
  margin-bottom: -75px;
}

.widest-container {
  position: relative;
  z-index: 2;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0 80px 0;
  background-color: black;
  margin-top: -75px;
  margin-bottom: 0px; /*-50px*/
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.game-iframe {
  z-index: 2;
  width: 1920px;
  height: 1080px;
  transform: scale(0.62) translate(-32%, -30.8%);
}

.media-container {
  padding-top: 75px;
  padding-bottom: 150px;
}

.section-divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-divider-large {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-heading {
  margin-bottom: 30px;
  text-align: center;
}

/* ========================================================================================== */
/* FLEX UTILITY STYLES */
/* ========================================================================================== */

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-basis-25 {
  flex-basis: 25%;
}

.flex-basis-50 {
  flex-basis: 49%;
}

.flex-basis-75 {
  flex-basis: 75%;
}

.flex-basis-33 {
  flex-basis: 33%;
}

.flex-basis-66 {
  flex-basis: 65%;
}

.flex-break {
  height: 0;
  flex-basis: 100%;
  display: none;
}

/* ========================================================================================== */
/* BUTTON STYLES */
/* ========================================================================================== */

.btn {
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  background-color: #4b466b;
  line-height: 1;
  padding: 15px 20px 13px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #6858cf;
}

.iframe-button-container {
  position: absolute;
}

.btn-iframe {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0d7c32;
}

.btn-iframe:hover {
  background-color: #066927;
}

/* ========================================================================================== */
/* HEADER STYLES */
/* ========================================================================================== */

.header {
  height: 80px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  color: white;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.site-title {
  margin-right: auto;
  text-transform: uppercase;
  font-family: 'roboto';
  font-weight: 700;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
}

.site-title:hover {
  color: #6858cf;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
}

.nav-item-emphasized {
  padding: 15px 20px 13px 20px;
  border: 1.5px solid white;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item:hover {
  color: #6858cf;
}

.nav-item-emphasized:hover {
  color: white;
  background-color: #6858cf;
  border-color: #6858cf;
}

.nav-mobile-button {
  display: none;
}

/* ========================================================================================== */
/* HERO STYLES */
/* ========================================================================================== */

.section-hero {
  background-image: linear-gradient(to bottom, transparent, #131313),
    url(/img/bg/bg3_gry_01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
  padding-top: 75px;
}

.hero-container {
  padding: 100px 100px 100px 100px;
}

.section-hero {
  text-align: center;
  color: white;
}

.hero-avatar {
  border-radius: 100%;
  max-width: 150px;
}

.hero-heading {
  font-size: 2.5em;
}

.hero-subheading {
  margin-bottom: 20px;
}

.hero-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-svg {
  fill: white;
  transition: all 0.3s;
}

.hero-icon:not(:last-child) {
  margin-right: 20px;
}

.hero-svg:hover {
  fill: #6858cf;
}

/* ========================================================================================== */
/* EXPERIENCE STYLES */
/* ========================================================================================== */

.experience-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.experience-mid-content {
  width: 20%;
}

.experience-right-content {
  width: 70%;
}

.experience-item:not(:last-child) {
  margin-bottom: 50px;
}

.experience-logo {
  max-width: 70px;
}

.experience-section-heading {
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: center;
}

/* ========================================================================================== */
/* PROJECTS STYLES */
/* ========================================================================================== */

.section-projects {
  padding-top: 135px;
  padding-bottom: 75px;
  background-color: #131313;
  color: white;
}

.projects-filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.projects-filter {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.08em;
  color: white;
  background: none;
  border: 1.5px solid white;
  /* border-radius: 30px; */
  padding: 20px 20px 18px 20px;
  transition: all 0.3s;
}

.projects-filter:hover {
  background-color: #6858cf;
  border-color: #6858cf;
  cursor: pointer;
}

.projects-filter-active {
  background-color: #4b466b;
  border-color: #4b466b;
}

.project-tag-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.project-tag {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #196359;
  /* border: 1.5px solid #1e8d75; */
  padding: 10px 15px 8px 15px;
}

.projects-list {
  padding-top: 60px;
}

.project {
  position: relative;
}

.project .container {
  transition: all 0.3s;
}

.project-hero::before {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 50%;
  z-index: -1;
}

.project-hero-bg3::before {
  background-image: linear-gradient(to bottom, #131313, transparent, #131313),
    url(/img/bg/baldurs-gate-3-03.jpg);
}

.project-hero-demonbound::before {
  background-image: linear-gradient(to bottom, #131313, transparent, #131313),
    url(/img/bg/bg_project_demonbound.jpg);
}

.project-hero-torrheim::before {
  background-image: linear-gradient(to bottom, #131313, transparent, #131313),
    url(/img/bg/torrheim.jpg);
}

.project-hero-emperor::before {
  background-image: linear-gradient(to bottom, #131313, transparent, #131313),
    url(/img/bg/emperor.png);
}

.project-hero {
  min-height: 400px;
  position: relative;
  z-index: 1;
}

.project-media {
  /* padding-top: 75px; */
  /* padding-bottom: 150px; */
  position: relative;
  padding-bottom: 56.25%;
  text-align: center;
  overflow: hidden;
  /* width: 100%; */
  height: 0;
}

.project-info .wide-container {
  background-color: black;
  margin-bottom: 0px; /*-50px*/
  z-index: 2;
}

.project-tech-list {
  margin-bottom: 15px;
}

.project-tech-heading {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 600;
}

.project-feature-list {
  list-style: disc;
  margin-left: 15px;
  margin-bottom: 30px;
}

.project-feature {
  padding-left: 15px;
}

.project-feature:not(:last-child) {
  margin-bottom: 5px;
}

.intext-link {
  text-decoration: underline;
  color: #998dec;
  transition: all 0.5s ease;
}

.intext-link:hover {
  color: #6858cf;
}

/* ========================================================================================== */
/* MINOR PROJECTS STYLES */
/* ========================================================================================== */

.section-minor-projects {
  padding-top: 20px;
  padding-bottom: 50px;
}

.section-minor-projects .wide-container {
  background: none;
  margin-top: 0;
  padding-top: 0;
}

.minor-projects-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.minor-project-card {
  flex-basis: 49%;
  flex-grow: 1;
  background-color: black;
  padding: 30px;
}

.minor-project-card-important {
  flex-basis: 100%;
}

.minor-project-img {
  margin-bottom: 10px;
}

/* ========================================================================================== */
/* ARTBOARD STYLES */
/* ========================================================================================== */

.artboard-section-heading {
  margin-bottom: 50px;
}

.artboard {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: flex-start;
  gap: 20px 20px;
}

/* .artboard::after {
    content: "";
    flex-basis: 370px;
} */

.artboard-item {
  position: relative;
}
.art-flex-third {
  flex-basis: 370px;
}

.art-flex-half {
  flex-basis: 565px;
}

.art-flex-large {
  flex-basis: 740px;
}

.artboard-item-image {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  cursor: pointer;
}

.artboard-item-description {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 20px;
  opacity: 0;
  transition: all 0.5s ease;
}

.artboard-item:hover .artboard-item-description {
  opacity: 1;
}

.artboard-image-overlay {
  position: fixed;
  display: none;
  z-index: 101;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.artboard-image-overlay-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}

.artboard-video-overlay-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}

.image-overlay-close {
  position: absolute;
  top: 50px;
  right: 80px;
  color: white;
  font-size: 70px;
  transition: 0.3s;
  cursor: pointer;
  transition: all 0.3s;
}

.image-overlay-close:hover {
  color: #6858cf;
}

.image-overlay-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

/* ========================================================================================== */
/* ABOUT ME STYLES */
/* ========================================================================================== */

.section-aboutme {
  color: white;
  padding-bottom: 75px;
}

.aboutme-section-heading {
  text-align: center;
  margin-bottom: 50px;
}

.aboutme-col-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5%;
  margin-bottom: 50px;
}

.aboutme-col-left {
  flex-basis: 70%;
}

.aboutme-col-right {
  flex-basis: 20%;
}

.aboutme-image {
  max-width: 100%;
  border-radius: 100%;
}

.aboutme-cv-section {
  text-align: center;
}

.aboutme-cv-section p {
  margin-bottom: 30px;
}

/* ========================================================================================== */
/* CONTACT SECTION STYLES */
/* ========================================================================================== */

.section-contact {
  padding-top: 75px;
}

.contact-section-heading {
  text-align: center;
  margin-bottom: 50px;
}

.contact-col-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 5%;
}

.contact-type-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-type-svg {
  fill: black;
  transition: all 0.3s;
}

.contact-type-svg:hover {
  fill: #6858cf;
}

.contact-type:not(:last-child) {
  margin-right: 10px;
}

.contact-col {
  flex-basis: 50%;
}

.contact-form-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 15px;
}

.contact-form-input-field {
  padding: 10px 10px 10px 10px;
  border: 1px solid #b3b3b3;
  background-color: #f5f5f5;
  width: 100%;
  font-size: 0.8em;
}

input {
  padding: 10px 10px 10px 10px;
  border: 1px solid #b3b3b3;
  background-color: #f5f5f5;
}

.contact-form-input-field:focus {
  background: white;
  border-color: #6858cf;
  outline: none;
}

textarea {
  min-height: 150px;
  resize: vertical;
}

/* ========================================================================================== */
/* FOOTER STYLES */
/* ========================================================================================== */

.footer {
  padding-top: 150px;
  padding-bottom: 75px;
  background-color: #131313;
  color: #9e9e9e;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-nav-item {
  transition: all 0.3s;
}

.footer-nav-item:hover {
  color: #6858cf;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 5px;
}

/* ========================================================================================== */
/* ADAPTIVE/MOBILE STYLES */
/* ========================================================================================== */

@media (max-width: 1300px) {
  .image-overlay-description {
    padding: 0 40px 0 40px;
  }

  .image-overlay-description h1 {
    line-height: 1.2em;
  }
}

@media (max-width: 980px) {
  .experience-item {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .experience-logo {
    margin: 0 auto 15px auto;
    max-width: 100px;
  }

  .experience-date {
    margin-bottom: 10px;
  }

  .experience-title {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .experience-mid-content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .experience-right-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  /* HEADER */

  .animate.header {
    height: fit-content;
    height: 250px;
  }

  .header {
    background-color: black;
    overflow: hidden;
    height: 70px;
    max-height: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.6s;
  }

  /* MOBILE NAVIGATION */

  .flex-break {
    display: block;
  }

  .header-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .site-title {
    display: none;
    margin-right: auto;
    text-transform: uppercase;
    font-family: 'roboto';
    font-weight: 700;
    letter-spacing: 0.1rem;
    transition: all 0.3s;
  }

  .site-title:hover {
    color: #6858cf;
  }

  .nav {
    width: 100%;
    display: block;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .nav-item {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 0.1rem;
    transition: all 0.3s;
    margin-bottom: 30px;
  }

  .nav-item-emphasized {
    padding: 0;
    border: none;
  }

  .nav-item-emphasized:hover {
    background: none;
    color: #6858cf;
  }

  .nav-item:not(:last-child) {
    margin-right: 0;
  }

  /* HAMBURGER MENU */

  .nav-mobile-bar-1,
  .nav-mobile-bar-2,
  .nav-mobile-bar-3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin-bottom: 6px;
    transition: 0.4s;
  }

  .animate .nav-mobile-bar-1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .animate .nav-mobile-bar-2 {
    opacity: 0;
  }

  .animate .nav-mobile-bar-3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .nav-mobile-button {
    position: relative;
    display: block;
    cursor: pointer;
  }

  /* HERO */

  .section-hero {
    min-height: 600px;
  }

  .hero-container {
    padding: 80px 15px 15px 15px;
  }

  .hero-heading {
    font-size: 1.8em;
  }

  .image-overlay-close {
    top: 40px;
    right: 20px;
  }

  .aboutme-col-list {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .aboutme-col-right {
    padding: 0 40px 40px 40px;
  }

  .contact-type-list {
    justify-content: center;
  }

  .contact-col-list {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .contact-col {
    width: 100%;
  }

  .footer-left {
    display: none;
  }
}
