.error-page {
  text-align: center;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-title {
  margin-bottom: 50px;
  line-height: 130%;
}

.error-link {
  color: rgb(0, 255, 191);
  transition: all 0.3s;
}

.error-link:hover {
  color: #6858cf;
}
