/* rgb(115, 72, 196) 
rgb(72, 171, 196)*/

.section-portfolios {
  height: 100vh;
  display: flex;
  flex-basis: auto;
  justify-content: space-around;
  overflow: hidden;
}

.portfolio {
  width: 100%;
  transform: skewX(-7deg);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  filter: drop-shadow(0 0 2px black);
  transition: all 0.3s;
  /* border-right: solid 2px rgb(115, 72, 196); */
}

.portfolio:hover {
  background-color: black;
  flex-basis: 160%;
}

.portfolio::before {
  content: '';
  transform: skewX(7deg);
  background-position: top left;
  background-size: auto 100%;
  position: absolute;
  transform-origin: top left;
  width: 100%;
  height: 100%;
  opacity: 0%;
  margin-left: -400px;
  padding-right: 400px;
  transition: all 0.3s;
}

.portfolio:hover::before {
  opacity: 100%;
}

.portfolio:first-of-type {
  margin-left: -200px;
}

.portfolio:last-of-type {
  margin-right: -200px;
}

.portfolio:last-of-type:hover::before {
  /* margin-left: -250px; */
}

.code::before {
  background-image: url('../assets/img/backgrounds/generated-09.svg');
}

.techart::before {
  background-image: url('../assets/img/backgrounds/generated-02.svg');
}

.twodthreed::before {
  background-image: url('../assets/img/backgrounds/generated-10.svg');
}

.portfolio-title {
  transform: skewX(7deg);
  font-size: 50px;
  line-height: 150%;
  -webkit-text-stroke: 1px white;
  color: rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

.title-first {
  margin-left: 200px;
}

.title-last {
  margin-right: 200px;
}

.portfolio:hover .portfolio-title {
  -webkit-text-stroke: 0px;
  color: white;
  border-bottom: 5px solid rgb(0, 255, 191);
}

@media (max-width: 1060px) {
  .section-portfolios {
    flex-direction: column;
  }

  .portfolio {
    transform: skewX(0deg);
  }

  .portfolio:first-of-type {
    margin: 0px;
  }

  .portfolio:last-of-type {
    margin: 0px;
  }

  .portfolio::before {
    transform: skewX(0deg);
    opacity: 100%;
    margin: 0px;
    padding: 0px;
  }

  .portfolio-title {
    transform: skewX(0deg);
  }

  .title-first {
    margin: 0px;
  }

  .title-last {
    margin: 0px;
  }
}
