.projects-section {
  padding-top: 25px;
  color: white;
}

.projects-box {
  display: flex;
  justify-content: space-between;
}

.projects-sidebar {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  position: sticky;
  top: 100px;
  width: 22%;
}

/* .projects-sidebar li {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #4b466b;
  border-radius: 5px;
}

.projects-sidebar li.active {
  background-color: rgb(0, 255, 191);
  color: black;
  transform: translateX(30px);
} */

.projects-sidebar h3 {
  margin-left: 10px;
  margin-bottom: 25px;
}

.projects-sidebar li {
  margin-bottom: 20px;
}

.projects-sidebar li.active {
  background-color: rgb(40, 103, 119);
  transform: translate(30px, 0);
}

.projects-sidebar li.active span {
  background-color: rgb(0, 255, 191);
  color: black;
}

.projects-container {
  width: 76%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.proj {
  width: 100%;
  min-height: 200px;
}

.proj h2 {
  margin-bottom: 20px;
}

.proj h3 {
  text-transform: none;
}

.proj img {
  margin-bottom: 20px;
  max-width: 100%;
}

.proj ul {
  list-style-type: disc;
  list-style-position: inside;
}

.proj-heading {
  padding-left: 30px;
  margin-bottom: 30px;
  line-height: 130%;
  border-left: solid 5px #6858cf;
}

.proj-title {
  text-transform: none;
}

.proj-subtitle {
  color: rgb(206, 206, 206);
}

.proj-info-card {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  border-left: solid 2px #7c7c7c;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}

.proj-info-card p {
  margin-bottom: 3px;
}

.info-emphasis {
  font-weight: bold;
}

.projects-section .display-heading {
  margin-bottom: 25px;
}

.proj-info-card a {
  color: rgb(0, 255, 191);
  text-decoration: underline;
  transition: all 0.3s;
}
.proj-info-card a:hover {
  color: #7c67ff;
}

.wip {
  font-style: normal;
  color: rgb(255, 127, 155);
}
